@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('proximanova-reg-webfont.eot');
    src: url('proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-reg-webfont.woff') format('woff'),
         url('proximanova-reg-webfont.ttf') format('truetype'),
         url('proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('proximanova-light.eot');
    src: url('proximanova-light.eot') format('embedded-opentype'),
         url('proximanova-light.woff') format('woff'),
         url('proximanova-light.ttf') format('truetype'),
         url('proximanova-light.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('proximanova-bold.eot');
    src: url('proximanova-bold.eot') format('embedded-opentype'),
         url('proximanova-bold.woff') format('woff'),
         url('proximanova-bold.ttf') format('truetype'),
         url('proximanova-bold.svg#ProximaNovaBold') format('svg');
}
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('Flat-UI-Icons.eot');
  src: url('Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('Flat-UI-Icons.woff') format('woff'), url('Flat-UI-Icons.ttf') format('truetype'), url('Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}