// Place all the styles related to the Histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.histories .last td {
  border-bottom: 1px solid black;
}
.histories .last {
    margin-bottom: 15px;
}
.history-main h1 {
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
}
.history-main span {
  font-family: 'Roboto' !important;
  font-style: normal;
  font-size: 14px;
  color: gray;
}